@page
@model E_Invoice_system.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Manage Products & Services";
}




<div class="dashboard-panel">
    <component type="typeof(E_Invoice_system.Components.Product.ProductForm)" render-mode="ServerPrerendered" param-UserName="@Model.UserName" param-UserEmail="@Model.UserEmail" />
</div>

@section Scripts {
    @* Additional scripts if needed *@
}
