@page "/settings/roles"
@model Retailio.Pages.Settings.Roles.IndexModel
@{
    ViewData["Title"] = "Roles & Permissions";
}


<div class="dashboard-panel">
    <component type="typeof(Retailio.backend.Components.Settings.RolesPermissions)" render-mode="ServerPrerendered" param-UserId='HttpContext.Session.GetInt32("UserId")' />
</div>

@section Scripts {
    @* Additional scripts if needed *@
}
