@page
@model Retailio.Pages.Recovery.IndexModel
@{
    ViewData["Title"] = "Recovery Management";
}

@section Styles {
    <link rel="stylesheet" href="~/css/customer/index.css" asp-append-version="true" />
}


<div class="dashboard-panel">
    <component type="typeof(Retailio.backend.Components.Recovery.RecoveryForm)" render-mode="Server" param-UserName="@Model.UserName" param-UserId="@Model.UserId" />
</div>

@section Scripts {
}
