@page
@model E_Invoice_system.Pages.Customer.IndexModel
@{
    ViewData["Title"] = "CustomerManagement";
}

@section Styles {
    <link rel="stylesheet" href="~/css/customer/index.css" asp-append-version="true" />
}




<div class="dashboard-panel">
    <component type="typeof(E_Invoice_system.Components.Customer.CustomerForm)" render-mode="ServerPrerendered" />
</div>

@section Scripts {
    @* Additional scripts if needed *@
}
